<h1>Stupid Coaching</h1>
<div class="you">
  <p><%= @question.capitalize %></p>
  <p>-You</p>
</div>
<div class="coach">
  <p><%= @answer.capitalize %></p>
  <p>-Coach</p>
</div>

<%= link_to 'Ask a new question', ask_path %>
