// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #F4F4F4 !important;
}

.you {
  border-left: 3px solid grey;
  padding-left: 10px;
  background-color: white;
}
.coach {
  border-left: 3px solid grey;
  padding-left: 10px;
  background-color: lightyellow;
}
